* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: center;
  font-size: 1.75em;
}
.row {
  width: 100%;
}
p {
  font-family: Helvetica;
}
#head1  {
	background: #0033cc;
}
#head2 {
	background: #ff0000;
}
#head3 {
	background: #cc3300
}
.p3 {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  padding: 15px;
  font-size: 1.25em;

}
.p4 {
	background: #b3b3b3;
  	padding: 60px 10px 10px 10px;
}
.inner {
	width: 90%;
  	position: relative;
  	border: 5px solid black;
  	margin: 5%;
}
.inner2 {
	width: 90%;
  	position: relative;
  	border: 5px solid black;
  	margin: 5%;
}
@media (min-width: 992px) {
	.col-lg-4 {
		float: left;
    	width: 33.33%;
	}
	
}

@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6 {
		float: left;
    	width: 50%;

	}
	.inner2 {
		margin: 2.5% 1.25% 2.5% 2.5%;
		width: 95%
	}
	.col-md-12 {
		float: left;
    	width: 100%;
	}
}

@media (max-width: 767px) {
	.col-sm-12 {
		float: left;
    	width: 100%;
	}
}

